@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header: #FFFFFF;
    --placeHolderColor: #767992;
    --selectedItem: #4D5067;
    --primaryText-color: #C8CBE7;
    --secondary-color: #5B5E7E;
    --infoText-color: #5B5E7E;
    --background-color: #171823;
    --primaryBackgroundColor: #25273D;
    --activeColor: #3A7CFD;
    --hover-color: #E3E4F1;
    --btnBorder-color: #393A4B;
    --background: linear-gradient(#25273D, #25273D) padding-box;
}

.light-mode {
    --placeHolderColor: #393A4B;
    --selectedItem: #D1D2DA;
    --primaryText-color: #494C6B;
    --secondary-color: #E3E4F1;
    --primaryBackgroundColor: #E3E4F1;
    --infoText-color: #9495A5;
    --background-color: #F2F2F2;
    --activeColor: #3A7CFD;
    --hover-color: #494C6B;
    --btnBorder-color: #494C6B;
    --background: linear-gradient(#E3E4F1, #E3E4F1) padding-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans' sans-serif;
    Font-size: 18px;
    background-color: var(--background-color);
}


.bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 350px;
    z-index: -1;
}

.bg img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: left;
}

.container {
    width: 100%;
    max-width: 540px;
    margin: 0 30px;
    /* background-color: yellow; */
    margin-top: 70px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 15px;
    color: var(--header);
    text-transform: uppercase;
}

.new-to-do {
    background-color: var(--primaryBackgroundColor);
    height: 64px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    border-radius: 6px;
}

.check {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-mark {
    height: 24px;
    width: 24px;
    border: 1px solid var(--btnBorder-color);
    border-radius: 50%;
    mix-blend-mode: normal;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-to-do > .check > .check-mark:hover {
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%) !important;
}

.new-to-do > .check > .check-mark {
    border: 1px solid var(--btnBorder-color);
}

.check-mark:hover {
    border: 1px solid transparent !important;
    background: 
            var(--background),
            linear-gradient(135deg, #55DDFF 0%, #C058F3 100%) border-box !important;
}

.check-mark.completed:hover {
    border: 1px solid var(--btnBorder-color) !important;
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%) !important;
    
}

.new-todo-input {
    flex-grow: 1;
    display: flex;
    align-items: center;
    
}

.new-todo-input #new-task-form {
    flex-grow: 1;
}

.new-todo-input #new-input {
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 18px;
    color: var(--primaryText-color);
}

.new-todo-input #new-input::placeholder {
    color: var(--placeHolderColor);
}

.todo-items-container {
    margin-top: 24px;
    background-color: var(--primaryBackgroundColor);
    box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
}

.todo-item {
    position: relative;
    width: 100%;
    display: flex;
    height: 64px;
    bottom: 85.42%;
}

.todo-item:hover {
    box-shadow: 0 0px 7px 0px hsl(235, 21%, 11%);
    border-color: hsl(235, 24%, 19%);
    cursor: pointer;
}

.todo-texts {
    display: flex;
    align-items: center;
    color: var(--primaryText-color);
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.info {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: var(--infoText-color);
}

.info-left {
    width: 100px;
}

#itemLeft {
    width: 40px !important;
}

.info-left, .info-middle > span, .info-right {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.info-middle {
    display: flex;
    justify-content: center;
}

.info-middle span {
    padding: 0 10px;
    cursor: pointer;
}

.info-middle span:hover {
    color: var(--hover-color);
}
.info-middle span:active {
    color: var(--activeColor);
}

/* .info-middle span.active {
    color: var(--activeColor);
} */

.info-right {
    cursor: pointer;
    text-align: end;
}
.info-right:hover {
    color: var(--hover-color);
}

.info-right:active {
    color: var(--activeColor) !important;  
  }

.remove-item {
    position: absolute;
    top: 23px;
    right: 20px;
    display: none;
}

.completed{
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);

}

.check-mark > img {
    display: none;
}

.check-mark > img.showCheck {
    display: block !important;
}

.strike-through{
    text-decoration-line: line-through;
    color: var(--selectedItem);
}

.btn-color {
    color:  #3A7CFD !important;
}

.btn-color1{
    color: white;
}


/* For mobile view */
@media screen and (max-width: 480px) {
    .header{
        width: 325px;
        height: 20px;
        left: 26px;
        top: 48px
    }
    .title {
        width: 108.14px;
        height: 20px;
        font-size: 29px;
    }

    .container {
        width: 327px;
        height: 368px;
    }

    .info {
        display: flex;
        justify-content: center;
    }

    .info-left{
        position: absolute;
        left: 46px;
    }

    .info-right {
        position: absolute;
        right: 46px;
    }

    .hideInfo-1 {
        display: none;
    }
    
    .hideInfo-2 {
        display: none;
    }

    div > span {
        font-size: 14px;
        line-height: 14px;
        letter-spacing: -0.194444px;
        color: var(--infoText-color);
    }

    .todo-texts {
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: -0.166667px;
        color: var(--primaryText-color);
    }

    .todo-item, .new-to-do, .info{
        width: 327px;
        height: 48px;
    }

    .new-todo-input #new-input {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: -0.166667px
    }

    .check-mark{
        width: 20px;
        height: 20px;
    }
  }

  @media screen and (min-width: 481px) {
    .hideAllInfo {
        display: none;
    }
  }

