@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans' sans-serif;
    Font-size: 18px;
    background-color: #171823;
}

body.light-mode {
    background-color: #ffffff !important;
    /* color: #000000; */
  }
  
  body.dark-mode {
    background-color: #171823;
    /* color: #ffffff; */
  }


.bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 350px;
    z-index: -1;
}

.bg img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: left;
}

.container {
    width: 100%;
    max-width: 540px;
    margin: 0 30px;
    /* background-color: yellow; */
    margin-top: 70px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.new-to-do {
    background-color: #25273D;
    height: 64px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    border-radius: 6px;
}

.check {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-mark {
    height: 24px;
    width: 24px;
    border: 1px solid #393A4B;
    border-radius: 50%;
    mix-blend-mode: normal;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-mark:hover {
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
    /* border-color: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%); */
}

.new-todo-input {
    flex-grow: 1;
    display: flex;
    align-items: center;
    
}

.new-todo-input #new-task-form {
    flex-grow: 1;
}

.new-todo-input #new-input {
    width: 100%;
    padding: 10px 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.new-todo-input #new-input::placeholder {
    color: #494C6B;
}

.todo-items-container {
    margin-top: 24px;
    background-color: #25273D;
    box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
}

.todo-item {
    position: relative;
    width: 100%;
    display: flex;
    height: 64px;
    border-bottom: 1px solid hsl(237, 39%, 26%);
    transition: all 0.25s ease;
}

.todo-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 0px 7px 0px hsl(235, 21%, 11%);
    border-color: hsl(235, 24%, 19%);
    cursor: pointer;
}

.todo-texts {
    display: flex;
    align-items: center;
    color: #C8CBE7;
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.info {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: #5B5E7E;
}

.info-left, .info-middle > span, .info-right {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.info-middle {
    display: flex;
    justify-content: center;
}

.info-middle span {
    padding: 0 10px;
    cursor: pointer;
}

.info-middle span:hover {
    color: #E3E4F1;
}

.info-middle span.active {
    color: hsl(220, 98%, 61%);
}

.info-right {
    cursor: pointer;
    text-align: end;
}
.info-right:hover {
    color: #E3E4F1;
}

.remove-item {
    position: absolute;
    top: 23px;
    right: 20px;
    display: none;
}

.completed{
    background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);

}

.strike-through{
    text-decoration-line: line-through;
    color: #4D5067;
}


/* For mobile view */
@media screen and (max-width: 480px) {
    .header{
        width: 325px;
        height: 20px;
        left: 26px;
        top: 48px
    }
    .title {
        width: 108.14px;
        height: 20px;
        font-size: 29px;
    }

    .container {
        width: 327px;
        height: 368px;
    }

    .info {
        display: flex;
        justify-content: center;
    }

    .info-left{
        position: absolute;
        left: 46px;
    }

    .info-right {
        position: absolute;
        right: 46px;
    }

    .hideInfo-1 {
        display: none;
    }
    
    .hideInfo-2 {
        display: none;
    }

    div > span {
        font-size: 14px;
        line-height: 14px;
        letter-spacing: -0.194444px;
        color: #5B5E7E;
    }

    .todo-texts {
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: -0.166667px;
        color: #C8CBE7;
    }

    .todo-item, .new-to-do, .info{
        width: 327px;
        height: 48px;
    }

    .new-todo-input #new-input {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: -0.166667px
    }

    .check-mark{
        width: 20px;
        height: 20px;
    }
  }

  @media screen and (min-width: 481px) {
    .hideAllInfo {
        display: none;
    }
  }

